button:focus{
    outline:none;
}

.btn {
    width: 5.75rem;
    height: 1.5rem;
    min-width: 5.25rem;
    max-width: 30rem;
    padding: 0rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #293032;
    transition: background-color 0.3s ease;
    outline: none;
}

.browse {
    width: 15rem;
    height: 2rem;
    background-color: #4CAF50;
}

.btn-feedback {
   width: 10rem;
   height: 2rem;
}

.browse:hover {
    color: #FFF;
}


.next-book {
    background-color:#4caf50;
}

.next-book:hover {
    color: #FFF;
    opacity: 0.8;
}

.btn

.btn-label {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.3125rem;
}

.btn.primary, .btn-feedback {
    background-color: #fff;
    color: #1c2126;
}

.btn.secondary {
    background-color: #283038;
    color: #fff;
}

.btn:hover:enabled {
    opacity: 0.8;
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
