.cta-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-container span, i {
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Manrope;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.cta-container i {
    font-size: 0.6rem;
}
