.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 85%;
    height: 2.3625rem;
    padding: 0.75rem 0rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #E5E8EB;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo:hover,  .cta-container span:hover{
    cursor: default;
}


.logo .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .logo-icon svg {
    width: 1.1rem;
    height: 1.1rem;
}

.logo span {
    align-self: stretch;
    color: #FFF;
    font-feature-settings: 'dlig' on;
    font-family: Manrope;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4375rem;
}

