.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    /*background-color: #1C2126;*/
    color: #E5E8EB;
}

.results-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.metadata {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.metadata-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 15em;
}

.metadata-item p:first-child {
    width: 80%;
    font-size: 1rem;
}

.metadata-item p:last-child {
    width: 80%;
    font-size: 1.8rem;
    font-weight: bold;
}

.graphs {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.graph-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45em;
}

.graph-item, .metadata-item {
    border: 1px solid #3B4A54;
    border-radius: 12px;
}

.graph-item h3 {

    margin-bottom: 1rem;
    width: 90%;
    font-weight: normal;
    color: #E5E8EB;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons button {
    width: 15rem;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 2rem;
    background-color: #2194F2;
    color: #fff;
}



@media (max-width: 1800px) {
    .metadata-item {
        width: 13em; /* Full width for smaller screens */
    }

    .graph-item {
        width: 32em;
    }

    .results-title {
        font-size: 1.5rem;
    }

    .results {
        padding: 1rem;
    }

    button:hover {
        cursor: pointer;
    }
}



